<% @csrf = form_authenticity_token %>
<div id="error_explanation">
   <%= render 'shared/error_messages' %>
</div>
<div id = "signup-container">
<script>
  React.render(
    React.createElement(SignUp, { csrfToken : "<%=@csrf%>" }),
    document.getElementById("signup-container")
  );
</script>
</div>
