$icon-font-path: '/Users/redbadger/Desktop/rails/badger-env/node_modules/bootstrap-sass/assets/fonts/bootstrap/';
@import "~node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
$font-stack: Helvetica, sans-serif;

.helloworld {
  font: 100% $font-stack;
}
